.area.z-center.mobille-cen
  .my_nav-tabs
    %ul.nav.nav-tabs
      %li
        %a{:href => "#"} Messages
      %li
        %a{:href => "#"} Requests
      %li
        %a{:href => "#"} Notifications
      %li.active
        %a{:href => "#"} Suggested Users
  .hed_mid
    .hed_mid-l
      .sorti
        Sort by Profile Type:
        .btn-group
          %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
            .nam All
            %span.caret
      .sorti
        Sort by First Name:
        .btn-group
          %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
            .nam All
            %span.caret
      .sorti
        Sort by Last Name:
        .btn-group
          %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
            .nam All
            %span.caret
    .hed_mid-r.hed-mobille
      %form.navbar-form.navbar-left.my_input{:role => "search"}
        .form-group
          %input.form-control.input.my_in{:type => "text", :placeholder => "type your search here"}
  #small-conte.small.border-lr
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'ADoe Jane', '#', {:class => "user-nam"}
        .user-status.on-line
          Online
        .user-conn
          .glyphicon.glyphicon-user
          Has 
          = link_to '2 mutual', '#', {:class => "mutual"}
          conections with
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user_b.png")
      .mass_user
        .name_user
          = link_to 'BDoe John', '#', {:class => "user-nam"}
        .user-status.a-way
          Away
        .user-conn
          .glyphicon.glyphicon-user
          Has 
          = link_to '4 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user_c.png")
      .mass_user
        .name_user
          = link_to 'CDoe John', '#', {:class => "user-nam"}
        .user-status.b-usy
          Busy
        .user-conn
          .glyphicon.glyphicon-user
          Has 
          = link_to '4 mutual', '#', {:class => "mutual"}
          conections with
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'DDoe Jane', '#', {:class => "user-nam"}
          .label_user.lbl-red Publisher          
        .user-status.on-line
          Online
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '4 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user_b.png")
      .mass_user
        .name_user
          = link_to 'EDoe John', '#', {:class => "user-nam"}
          .label_user.lbl-green Seller          
        .user-status.b-usy
          Busy
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '7 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'FDoe John', '#', {:class => "user-nam"}
          .label_user.lbl-blue Buyer          
        .user-status.off-line
          Offline
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '5 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user_j.png")
      .mass_user
        .name_user
          = link_to 'JDoe John', '#', {:class => "user-nam"}
          .label_user.lbl-blue Buyer          
        .user-status.a-way
          Away
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '6 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user_g.png")
      .mass_user
        .name_user
          = link_to 'GDoe John', '#', {:class => "user-nam"}    
        .user-status.on-line
          Online
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '5 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'HDoe John', '#', {:class => "user-nam"}    
        .user-status.b-usy
          Busy
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '8 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user_c.png")
      .mass_user
        .name_user
          = link_to 'CDoe John', '#', {:class => "user-nam"}
        .user-status.b-usy
          Busy
        .user-conn
          .glyphicon.glyphicon-user
          Has 
          = link_to '4 mutual', '#', {:class => "mutual"}
          conections with
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'DDoe Jane', '#', {:class => "user-nam"}
          .label_user.lbl-red Publisher          
        .user-status.on-line
          Online
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '4 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request
    .small-mail
      .avat_user
        = image_tag("user_b.png")
      .mass_user
        .name_user
          = link_to 'EDoe John', '#', {:class => "user-nam"}
          .label_user.lbl-green Seller          
        .user-status.b-usy
          Busy
        .user-conn
          .glyphicon.glyphicon-user
          Has
          = link_to '7 mutual', '#', {:class => "mutual"}
          conections with you
      .butt_user
        .btn-group.my-btn-grop
          %button.btn.btn-gray{:type => "button"} View Profile
        .btn-group  
          %button.btn.btn-black{:type => "button"} Send Request