.my-market-place
  .hed-name
    .btn-group
      %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
        .groop
          %span.glyphicon.mini.glyphicon-user
          %span.glyphicon.mini.glyphicon-user
          %span.glyphicon.center.glyphicon-user
        .nam My Marketplace
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li
          %a{:href => "#"} Tracey Geronimo
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider
        %li
          %a{:href => "#"} Separated link
  %form.navbar-form.navbar-left.my_input{:role => "search"}
    .form-group
      %input.form-control.input.my_in{:type => "text", :placeholder => "type your search here"}
  .sort
    .sorti
      Sort By Type:
      .btn-group
        %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
          .nam All
          %span.caret
    .sorti
      Sort By Status:
      .btn-group
        %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
          .nam All
          %span.caret
    .sorti
      Sort By Name:
      .btn-group
        %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
          .nam All
          %span.caret
  .mini-small
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'ADoe Jane', '#', {:class => "user-nam"}
        .user-status
          last seen 2h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '4 others', '#', {:class => "others"}
      .ico-mail
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope
    .small-mail
      .avat_user
        = image_tag("user_b.png")
      .mass_user
        .name_user
          = link_to 'BDoe John', '#', {:class => "user-nam"}
        .user-status
          last seen 2h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '7 others', '#', {:class => "others"}
      .ico-mail.ico-red
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope
          .k-mail
            %span 2
    .small-mail
      .avat_user
        = image_tag("user_g.png")
      .mass_user
        .name_user
          = link_to 'CDoe John', '#', {:class => "user-nam"}
        .user-status
          last seen 1h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '4 others', '#', {:class => "others"}
      .ico-mail
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'DDoe Jane', '#', {:class => "user-nam"}
          .label_user.lbl-red Publisher
        .user-status
          last seen 2h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '14 others', '#', {:class => "others"}
      .ico-mail
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope
    .small-mail
      .avat_user
        = image_tag("user_b.png")
      .mass_user
        .name_user
          = link_to 'EDoe John', '#', {:class => "user-nam"}
          .label_user.lbl-green Seller
        .user-status
          last seen 2h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '7 others', '#', {:class => "others"}
      .ico-mail
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope
    .small-mail
      .avat_user
        = image_tag("user_g.png")
      .mass_user
        .name_user
          = link_to 'FDoe John', '#', {:class => "user-nam"}
          .label_user.lbl-blue Buyer
        .user-status
          last seen 1h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '5 others', '#', {:class => "others"}
      .ico-mail
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope
    .small-mail.bord-rad
      .avat_user
        = image_tag("user_b.png")
      .mass_user
        .name_user
          = link_to 'EDoe John', '#', {:class => "user-nam"}
          .label_user.lbl-green Seller
        .user-status
          last seen 2h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '7 others', '#', {:class => "others"}
      .ico-mail.ico-red
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope
          .k-mail
            %span 2
    .small-mail
      .avat_user
        = image_tag("user.png")
      .mass_user
        .name_user
          = link_to 'ADoe Jane', '#', {:class => "user-nam"}
        .user-status
          last seen 2h ago
        .user-conn
          .glyphicon.glyphicon-user
          Added
          %span.my_bold Sean Smith
          and
          = link_to '4 others', '#', {:class => "others"}
      .ico-mail
        = link_to '#' do
          %span.glyphicon.glyphicon-envelope