.glavn
  .area.z-left
    .hed-name
      .btn-group
        %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-bullhorn
          .nam Market Stream
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "#"} Tracey Geronimo
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider
          %li
            %a{:href => "#"} Separated link
    .area_sort
      Select Update Type:
      .btn-group
        %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
          .nam All
          %span.caret
    .small
      .small-mail
        .img_c
          %span.glyphicon.glyphicon-tag
        .small-message
          .user-name Marjan Volsky
          %q.user-mess anxious to see mockup 
          .user-ago 27 minutes ago via IPhone
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
      .small-mail
        .img_c
          %span.glyphicon.glyphicon-question-sign
        .small-message
          .user-name Sean Tracey Geronimo 
          .user-mess When we'll be adle to see the mockup? 
          .user-ago 27 minutes ago Somewhere
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
      .small-mail
        .img_c
          %span.glyphicon.glyphicon-comment
        .small-message
          .user-name Sean Tracey Geronimo
          .user-mess answered Marjan Volsky's question 
          .user-ago 27 minutes ago via IPhone
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
      .small-mail
        .img_c
          %span.glyphicon.glyphicon-user
        .small-message
          .user-name Marjan Volsky
          .user-mess changed his job detalies 
          .user-ago 27 minutes ago via IPhone
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
      .small-mail.plus_logo
        .img_c
          %span.glyphicon.glyphicon-briefcase
        .img_logo
          = image_tag("logo.png")
        .small-message
          .user-name Deal Name
          .user-mess was updates 
          .user-ago 27 minutes ago via IPhone
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
      .small-mail.plus_logo
        .img_c
          %span.glyphicon.glyphicon-folder-close
        .img_logo
          = image_tag("logo.png")
        .small-message
          .user-name Package Name
          .user-mess was updates 
          .user-ago 27 minutes ago via IPhone
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
      .small-mail
        .img_c
          %span.glyphicon.glyphicon-tag
        .small-message
          .user-name Marjan Volsky
          %q.user-mess anxious to see mockup 
          .user-ago 27 minutes ago via IPhone
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
      .small-mail.bord-rad
        .img_c
          %span.glyphicon.glyphicon-question-sign
        .small-message
          .user-name Sean Tracey Geronimo 
          .user-mess When we'll be adle to see the mockup? 
          .user-ago 27 minutes ago Somewhere
        .close_del
          .btn-group
            %button.btn.btn-my 
              .glyphicon.glyphicon-remove
  .area.z-center
    .my_nav-tabs
      %ul.nav.nav-tabs
        %li
          %a{:href => "#"} Messages
        %li
          %a{:href => "#"} Requests
        %li
          %a{:href => "#"} Notifications
        %li.active
          %a{:href => "#"} Suggested Users
    .hed_mid
      .hed_mid-l
        .sorti
          Sort by Profile Type:
          .btn-group
            %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
              .nam All
              %span.caret
        .sorti
          Sort by First Name:
          .btn-group
            %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
              .nam All
              %span.caret
        .sorti
          Sort by Last Name:
          .btn-group
            %button.btn.btn-default.dropdown-toggle.my-btn{"data-toggle" => "dropdown", :type => "button"}
              .nam All
              %span.caret
      .hed_mid-r
        %form.navbar-form.navbar-left.my_input{:role => "search"}
          .form-group
            %input.form-control.input.my_in{:type => "text", :placeholder => "type your search here"}
    .small.border-lr
      .small-mail
        .avat_user
          = image_tag("user.png")
        .mass_user
          .name_user
            = link_to 'ADoe Jane', '#', {:class => "user-nam"}
          .user-status.on-line
            Online
          .user-conn
            .glyphicon.glyphicon-user
            Has 
            = link_to '2 mutual', '#', {:class => "mutual"}
            conections with
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user_b.png")
        .mass_user
          .name_user
            = link_to 'BDoe John', '#', {:class => "user-nam"}
          .user-status.a-way
            Away
          .user-conn
            .glyphicon.glyphicon-user
            Has 
            = link_to '4 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user_c.png")
        .mass_user
          .name_user
            = link_to 'CDoe John', '#', {:class => "user-nam"}
          .user-status.b-usy
            Busy
          .user-conn
            .glyphicon.glyphicon-user
            Has 
            = link_to '4 mutual', '#', {:class => "mutual"}
            conections with
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user.png")
        .mass_user
          .name_user
            = link_to 'DDoe Jane', '#', {:class => "user-nam"}
            .label_user.lbl-red Publisher          
          .user-status.on-line
            Online
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '4 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user_b.png")
        .mass_user
          .name_user
            = link_to 'EDoe John', '#', {:class => "user-nam"}
            .label_user.lbl-green Seller          
          .user-status.b-usy
            Busy
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '7 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user.png")
        .mass_user
          .name_user
            = link_to 'FDoe John', '#', {:class => "user-nam"}
            .label_user.lbl-blue Buyer          
          .user-status.off-line
            Offline
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '5 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user_j.png")
        .mass_user
          .name_user
            = link_to 'JDoe John', '#', {:class => "user-nam"}
            .label_user.lbl-blue Buyer          
          .user-status.a-way
            Away
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '6 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user_g.png")
        .mass_user
          .name_user
            = link_to 'GDoe John', '#', {:class => "user-nam"}    
          .user-status.on-line
            Online
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '5 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user.png")
        .mass_user
          .name_user
            = link_to 'HDoe John', '#', {:class => "user-nam"}    
          .user-status.b-usy
            Busy
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '8 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user_c.png")
        .mass_user
          .name_user
            = link_to 'CDoe John', '#', {:class => "user-nam"}
          .user-status.b-usy
            Busy
          .user-conn
            .glyphicon.glyphicon-user
            Has 
            = link_to '4 mutual', '#', {:class => "mutual"}
            conections with
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user.png")
        .mass_user
          .name_user
            = link_to 'DDoe Jane', '#', {:class => "user-nam"}
            .label_user.lbl-red Publisher          
          .user-status.on-line
            Online
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '4 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request
      .small-mail
        .avat_user
          = image_tag("user_b.png")
        .mass_user
          .name_user
            = link_to 'EDoe John', '#', {:class => "user-nam"}
            .label_user.lbl-green Seller          
          .user-status.b-usy
            Busy
          .user-conn
            .glyphicon.glyphicon-user
            Has
            = link_to '7 mutual', '#', {:class => "mutual"}
            conections with you
        .butt_user
          .btn-group.my-btn-grop
            %button.btn.btn-gray{:type => "button"} View Profile
          .btn-group  
            %button.btn.btn-black{:type => "button"} Send Request 
  .area.z-right