.hed_m
  .hed
    .hed_left
      = image_tag("logo.png")
    .nav_user
      - if current_user
        Signed in as
        = succeed "!" do
          %strong= current_user.name
          = link_to "Sign out", signout_path, id: "sign_out"
      - elsif
        = link_to "Log In", "/auth/facebook", id: "sign_in"
